{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}



{% block body %}
    


    <section class="home">

        <div class="principal">
            <div class="slides-container">
        
                <div class="slide active">

                    <div class="content">
                        
                        <h3>MISION TIC</h3>
                        
                        <h3>Hasta 50% off</h3>
                    </div>

                    <div class="image"> 
                        <img src="{{ url_for('static', filename='img/principal.png') }}" alt="">
                    </div>
                </div>
        
            </div>
        </div>
    
    </section>



    <section class="banner-container">

        <div class="banner">
            <img src="{{ url_for('static', filename='img/banner-1.jpg') }}" alt="">
            <div class="content">
                <span>Cantidad Limitadas</span>
                <h3>Hasta 50% off</h3>
                <a href="#" class="btm">Ver</a>
            </div>
        </div>
    
        <div class="banner">
            <img src="{{ url_for('static', filename='img/banner-2.jpg') }}" alt="">
            <div class="content">
                <span>Cantidad Limitadas</span>
                <h3>Hasta 50% off</h3>
                <a href="#" class="btm">Ver</a>
            </div>
        </div>
    
    </section>



    <section class="products">

        <h1 class="title">Nuestros Productos</h1>
    
        <div class="box-container">
    
            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='img/product-1.jpg') }}" alt="">
                </div>
                <div class="content">
                    <h3>Nombre producto</h3>
                    <div class="price">$18.99</div>
                </div>
            </div>
    
            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='img/product-1.jpg') }}" alt="">
                </div>
                <div class="content">
                    <h3>Nombre producto</h3>
                    <div class="price">$18.99</div>
                </div>
            </div>
    
            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='img/product-1.jpg') }}" alt="">
                </div>
                <div class="content">
                    <h3>Nombre producto</h3>
                    <div class="price">$18.99</div>
                </div>
            </div>
    
            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='img/product-1.jpg') }}" alt="">
                </div>
                <div class="content">
                    <h3>Nombre producto</h3>
                    <div class="price">$18.99</div>
                </div>
            </div>
    
            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='img/product-1.jpg') }}" alt="">
                </div>
                <div class="content">
                    <h3>Nombre producto</h3>
                    <div class="price">$18.99</div>
                </div>
            </div>
    
            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='img/product-1.jpg') }}" alt="">
                </div>
                <div class="content">
                    <h3>Nombre producto</h3>
                    <div class="price">$18.99</div>
                </div>
            </div>
    
            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='img/product-1.jpg') }}" alt="">
                </div>
                <div class="content">
                    <h3>Nombre producto</h3>
                    <div class="price">$18.99</div>
                </div>
            </div>
    
            <div class="box">
                <div class="icons">
                    <a href="#" class="fas fa-shopping-cart"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='img/product-1.jpg') }}" alt="">
                </div>
                <div class="content">
                    <h3>Nombre producto</h3>
                    <div class="price">$18.99</div>
                </div>
            </div>
    
        </div>
    
    </section>



{% include 'footer.html' %}

    

{% endblock %}
