<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Productos</title>
</head>
<body>
    <div class="barra">
        <nav class="contenedor">
                <div class="logo">
                    <a href="" class="log">Grupo3 <span>SHOP</span></a>
                </div>
                <a href="">Inicio</a>
                <a href="">Productos</a>
                <a href="">Nosotros</a>
                
                <div class="nav-usuario">
                    <a href="login.html"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <circle cx="12" cy="7" r="4" />
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                    </svg>
                    Login</a>
                    
                    <a href=""><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <circle cx="6" cy="19" r="2" />
                        <circle cx="17" cy="19" r="2" />
                        <path d="M17 17h-11v-14h-2" />
                        <path d="M6 5l14 1l-1 7h-13" />
                    </svg>
                    Carrito</a>
                </div>
        </nav>
    </div>

    

    <main class="contenedor">
        <h1>Productos</h1>
        <div class="productos">
            <div class="contenedor">
                <div class="card">
                    <div class="producto">
                        <div class="producto-cabezera">
                            <p>nuevo</p>
                        </div>
                        <div class="producto-img">
                            <a href=""><img src="img/2.jpg" alt=""></a>
                        </div>
                        <div class="producto-pie">
                            <a href="" class="btn-agregar-carrito visible">Agregar al carrito</a>
                            <a href="" class="btn-agregar-lista visible"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                              </svg></a>
                        </div>
                    </div>
                    <div class="producto-descripcion">
                        <p class="descripcion">Descripcion Producto</p>
                        <p class="precio">$ 99.999 Pesos</p>
                    </div>
                </div>

                <div class="card">
                    <div class="producto">
                        <div class="producto-cabezera">
                            <p>nuevo</p>
                        </div>
                        <div class="producto-img">
                            <a href=""><img src="img/2.jpg" alt=""></a>
                        </div>
                        <div class="producto-pie">
                            <a href="" class="btn-agregar-carrito visible">Agregar al carrito</a>
                            <a href="" class="btn-agregar-lista visible"><3</a>
                        </div>
                    </div>
                    <div class="producto-descripcion">
                        <p class="descripcion">Descripcion Producto</p>
                        <p class="precio">$ 99.999 Pesos</p>
                    </div>
                </div>

                <div class="card">
                    <div class="producto">
                        <div class="producto-cabezera">
                            <p>nuevo</p>
                        </div>
                        <div class="producto-img">
                            <a href=""><img src="img/2.jpg" alt=""></a>
                        </div>
                        <div class="producto-pie">
                            <a href="" class="btn-agregar-carrito visible">Agregar al carrito</a>
                            <a href="" class="btn-agregar-lista visible"><3</a>
                        </div>
                    </div>
                    <div class="producto-descripcion">
                        <p class="descripcion">Descripcion Producto</p>
                        <p class="precio">$ 99.999 Pesos</p>
                    </div>
                </div>

                <div class="card">
                    <div class="producto">
                        <div class="producto-cabezera">
                            <p>nuevo</p>
                        </div>
                        <div class="producto-img">
                            <a href=""><img src="img/2.jpg" alt=""></a>
                        </div>
                        <div class="producto-pie">
                            <a href="" class="btn-agregar-carrito visible">Agregar al carrito</a>
                            <a href="" class="btn-agregar-lista visible"><3</a>
                        </div>
                    </div>
                    <div class="producto-descripcion">
                        <p class="descripcion">Descripcion Producto</p>
                        <p class="precio">$ 99.999 Pesos</p>
                    </div>
                </div>

                <div class="card">
                    <div class="producto">
                        <div class="producto-cabezera">
                            <p>nuevo</p>
                        </div>
                        <div class="producto-img">
                            <a href=""><img src="img/2.jpg" alt=""></a>
                        </div>
                        <div class="producto-pie">
                            <a href="" class="btn-agregar-carrito visible">Agregar al carrito</a>
                            <a href="" class="btn-agregar-lista visible"><3</a>
                        </div>
                    </div>
                    <div class="producto-descripcion">
                        <p class="descripcion">Descripcion Producto</p>
                        <p class="precio">$ 99.999 Pesos</p>
                    </div>
                </div>

                <div class="card">
                    <div class="producto">
                        <div class="producto-cabezera">
                            <p>nuevo</p>
                        </div>
                        <div class="producto-img">
                            <a href=""><img src="img/2.jpg" alt=""></a>
                        </div>
                        <div class="producto-pie">
                            <a href="" class="btn-agregar-carrito visible">Agregar al carrito</a>
                            <a href="" class="btn-agregar-lista visible"><3</a>
                        </div>
                    </div>
                    <div class="producto-descripcion">
                        <p class="descripcion">Descripcion Producto</p>
                        <p class="precio">$ 99.999 Pesos</p>
                    </div>
                </div>

                <div class="card">
                    <div class="producto">
                        <div class="producto-cabezera">
                            <p>nuevo</p>
                        </div>
                        <div class="producto-img">
                            <a href=""><img src="img/2.jpg" alt=""></a>
                        </div>
                        <div class="producto-pie">
                            <a href="" class="btn-agregar-carrito visible">Agregar al carrito</a>
                            <a href="" class="btn-agregar-lista visible"><3</a>
                        </div>
                    </div>
                    <div class="producto-descripcion">
                        <p class="descripcion">Descripcion Producto</p>
                        <p class="precio">$ 99.999 Pesos</p>
                    </div>
                </div>

                <div class="card">
                    <div class="producto">
                        <div class="producto-cabezera">
                            <p>nuevo</p>
                        </div>
                        <div class="producto-img">
                            <a href=""><img src="img/2.jpg" alt=""></a>
                        </div>
                        <div class="producto-pie">
                            <a href="" class="btn-agregar-carrito visible">Agregar al carrito</a>
                            <a href="" class="btn-agregar-lista visible"><3</a>
                        </div>
                    </div>
                    <div class="producto-descripcion">
                        <p class="descripcion">Descripcion Producto</p>
                        <p class="precio">$ 99.999 Pesos</p>
                    </div>
                </div>

                <div class="card">
                    <div class="producto">
                        <div class="producto-cabezera">
                            <p>nuevo</p>
                        </div>
                        <div class="producto-img">
                            <a href=""><img src="img/2.jpg" alt=""></a>
                        </div>
                        <div class="producto-pie">
                            <a href="" class="btn-agregar-carrito visible">Agregar al carrito</a>
                            <a href="" class="btn-agregar-lista visible"><3</a>
                        </div>
                    </div>
                    <div class="producto-descripcion">
                        <p class="descripcion">Descripcion Producto</p>
                        <p class="precio">$ 99.999 Pesos</p>
                    </div>
                </div>

                <div class="card">
                    <div class="producto">
                        <div class="producto-cabezera">
                            <p>nuevo</p>
                        </div>
                        <div class="producto-img">
                            <a href=""><img src="img/2.jpg" alt=""></a>
                        </div>
                        <div class="producto-pie">
                            <a href="" class="btn-agregar-carrito visible">Agregar al carrito</a>
                            <a href="" class="btn-agregar-lista visible"><3</a>
                        </div>
                    </div>
                    <div class="producto-descripcion">
                        <p class="descripcion">Descripcion Producto</p>
                        <p class="precio">$ 99.999 Pesos</p>
                    </div>
                </div>

                <div class="card">
                    <div class="producto">
                        <div class="producto-cabezera">
                            <p>nuevo</p>
                        </div>
                        <div class="producto-img">
                            <a href=""><img src="img/2.jpg" alt=""></a>
                        </div>
                        <div class="producto-pie">
                            <a href="" class="btn-agregar-carrito visible">Agregar al carrito</a>
                            <a href="" class="btn-agregar-lista visible"><3</a>
                        </div>
                    </div>
                    <div class="producto-descripcion">
                        <p class="descripcion">Descripcion Producto</p>
                        <p class="precio">$ 99.999 Pesos</p>
                    </div>
                </div>

                <div class="card">
                    <div class="producto">
                        <div class="producto-cabezera">
                            <p>nuevo</p>
                        </div>
                        <div class="producto-img">
                            <a href=""><img src="img/2.jpg" alt=""></a>
                        </div>
                        <div class="producto-pie">
                            <a href="" class="btn-agregar-carrito visible">Agregar al carrito</a>
                            <a href="" class="btn-agregar-lista visible"><3</a>
                        </div>
                    </div>
                    <div class="producto-descripcion">
                        <p class="descripcion">Descripcion Producto</p>
                        <p class="precio">$ 99.999 Pesos</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="pie">
            <div class="contenedor">
                <div class="informacion">
                    <h2>Grupo3 SHOP</h2>
                    <p>(+57) 301 609 4827</p>
                    <p>marlondaguas@gmail.com</p>
                    <p>Malambo, atlantico</p>
                </div>
                <div class="contacto">
                    <h2>Contacto</h2>
                    <p>(+57) 301 609 4827</p>
                    <p>marlondaguas@gmail.com</p>
                    <p>Malambo, atlantico</p>
                </div>
                <div class="acerca">
                    <h2>Acerca de</h2>
                    <p>Preguntas Frecuentes</p>
                    <p>Ayuda y soporte</p>
                    <p>Politicas de privacidad</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>